body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

.image-responsive {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-family: 'Muli',
        sans-serif;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 1;
    width: 100%;
    transition: 0.2s;
    color: #000;
    box-shadow: 2px 2px 10px #3c3434;
}

.logo {
    z-index: 3;
}

.logo img {
    width: 50px;
}

.menu-list {
    display: flex;
    width: 45%;
    padding-top: 5px;
    justify-content: space-around;
}

.menu-list li {
    list-style: none;
}

.menu-list a {
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.2s;
    text-transform: uppercase;
}

.menu-list a:hover {
    font-weight: 900;
    color: #1d469f;
    transition: 0.2s;
}

.menu div {
    width: 25px;
    height: 3px;
    margin: 5px;
    z-index: 3;
}

.menu {
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .menu-list {
        width: 55%;
    }
}

@media screen and (max-width:1000px) {
    .menu-list a {
        font-size: 14px;
    }
}

@media screen and (max-width:768px) {

    html,
    body {
        position: relative;
    }

    .nav {
        align-content: center;
    }

    .menu-list {
        position: absolute;
        right: 0px;
        height: 400px;
        top: 40px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateY(-150%);
        transition: transform 0.5s ease-in;
        z-index: 1;
        color: #000;
        border-bottom: 2px solid black;
    }

    .menu-list li {
        opacity: 0;
    }

    .menu {
        position: absolute;
        right: 5px;
        display: block;
        color: #000;
    }

    .line1,
    .line2,
    .line3 {
        background-color: #000;
        text-decoration-color: brown;
        transition: 0.5s;
    }

    .nav {
        background-color: #fff;
        color: #000;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navReveal {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.line1,
.line2,
.line3,
.toggle {
    color: #000;
}

.toggle .line1 {
    color: #000;
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    color: #000;
    transform: rotate(45deg) translate(-5px, -6px);
}

.container {
    width: 80%;
    margin: 100px auto;
}

.container h1 {
    margin-bottom: 50px;
    text-align: center;
}

.nav2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-family: 'Muli', sans-serif;
    background-color: #fff;
    position: fixed;
    z-index: 6;
    width: 100%;
    transition: 0.2s;
    box-shadow: 2px 2px 10px #3c3434;
}

#mynav {
    top: 0px !important;
}

.stage {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    color: #000;
    font-size: 2.0rem;
    letter-spacing: 0.25rem;
    padding-top: 0.65rem;
    padding-left: 0.5rem;
    padding-right: 0.36rem;
    padding-bottom: 0.2rem;
}

.slash {
    position: absolute;
    top: 50%;
    left: 47%;
    -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 0.08rem;
    height: 100%;
    background: #000;
    z-index: 4;
    -webkit-animation: slash 6s ease-in;
    animation: slash 6s ease-in;
}

.slash:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 47%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0.7rem;
    height: 120%;
    background: #fff;
    z-index: -1;
}

.slash:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 0.2rem;
    background: #000;
}

.sides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sides .side {
    position: absolute;
    background: #000;
}

.sides .side:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    -webkit-transform: translateX(-101%);
    transform: translateX(-101%);
    -webkit-animation: side-top ease 6s;
    animation: side-top ease 6s;
}

.sides .side:nth-child(2) {
    top: 0;
    right: 0;
    width: 0.15rem;
    height: 100%;
    -webkit-transform: translateY(-101%);
    transform: translateY(-101%);
    -webkit-animation: side-right ease 6s;
    animation: side-right ease 6s;
}

.sides .side:nth-child(3) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.15rem;
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
    -webkit-animation: side-bottom ease 6s;
    animation: side-bottom ease 6s;
}

.sides .side:nth-child(4) {
    top: 0;
    left: 0;
    width: 0.15rem;
    height: 100%;
    -webkit-transform: translateY(101%);
    transform: translateY(101%);
    -webkit-animation: side-left ease 6s;
    animation: side-left ease 6s;
}

.text {
    position: relative;
}

.text--backing {
    opacity: 0;
}

.text--left {
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    overflow: hidden;
}

.text--left .inner {
    -webkit-animation: text-left 6s ease-in-out;
    animation: text-left 6s ease-in-out;
}

.text--right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.text--right .inner {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-animation: text-right 6s ease-in-out;
    animation: text-right 6s ease-in-out;
}

@-webkit-keyframes slash {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }

    6% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }

    13% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }

    16.6% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
}

@keyframes slash {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }

    6% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }

    13% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }

    16.6% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
        transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
}

@-webkit-keyframes text-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    58% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    70% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes text-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    58% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    70% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes text-right {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    10% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    58% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    70% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes text-right {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    10% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    58% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    70% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes side-top {

    0%,
    14% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    24%,
    55% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    65% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }
}

@keyframes side-top {

    0%,
    14% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    24%,
    55% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    65% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }
}

@-webkit-keyframes side-right {

    0%,
    14%,
    23% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    30%,
    62% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    72% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    100% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }
}

@keyframes side-right {

    0%,
    14%,
    23% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    30%,
    62% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    72% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    100% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }
}

@-webkit-keyframes side-bottom {

    0%,
    14%,
    24%,
    28% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    37%,
    70% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    79% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    100% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }
}

@keyframes side-bottom {

    0%,
    14%,
    24%,
    28% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    37%,
    70% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    79% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    100% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }
}

@-webkit-keyframes side-left {

    0%,
    14%,
    24%,
    34%,
    35% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    44%,
    79% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    86% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    100% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }
}

@keyframes side-left {

    0%,
    14%,
    24%,
    34%,
    35% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    44%,
    79% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    86% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    100% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }
}

.header {
    position: relative;
    height: 100%;
    background-image: url("images/header_back.png");
}

.ayush_img {
    position: absolute;
    width: 350px;
    right: 18%;
    bottom: 10%;
    -webkit-filter: drop-shadow(10px 0px 10px #222);
    filter: drop-shadow(10px 0px 10px #222);
    border: 5px solid rgba(255, 255, 255, 0.8);
    padding: 0 10 0 10;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    background-color: rgba(0, 0, 0, 0.3);
}

.intro_text {
    position: absolute;
    font-family: 'Varela', sans-serif;
    font-weight: bolder;
    font-size: 2.8em;
    color: black;
    text-transform: uppercase;
    margin: 30px;
    margin-left: 50px;
    top: 250px;
}

#cursor {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}
}



.intro_content {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;


}

.intro_content__container {
    font-weight: 900;
    overflow: hidden;
    height: 10px;
    padding: 0 8px;
    padding-top: 410px;
    font-family: 'Varela', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    max-width: 300px;
    margin-left: 100px;
}

#changing_data {
    padding-left: 20px;

}

#changing_data:after {
    content: "";
    animation: changing_data 5s linear infinite;
    transition: 0.5s;
}

@keyframes changing_data {
    0% {
        content: "A \00a0  DEVELOPER";
    }

    50% {
        content: "A \00a0  DESIGNER";
    }

    100% {
        content: "AN \00a0  ARTIST";
    }
}

.intro_content__container:before {
    content: '[';
    left: 50px;
    color: #000;
    ;
}

.intro_content__container:after {
    content: ']';
    right: 72%;
}

.intro_content__container:after,
.intro_content__container:before {
    position: absolute;
    top: 380px;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.intro_content__container__text {
    display: inline;
    float: left;
    margin: 0;
    margin-top: -20;
}

.intro_content__container__list {
    padding-left: 30px;
    text-align: left;
    list-style: none;
    height: 100px;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.intro_content__container__list__item {
    line-height: 40px;
    margin: 0;
}

@-webkit-keyframes opacity {

    0%,
    100% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }
}

.get-in-touch {
    position: absolute;
    top: 500px;
    left: 50px;
}

.get-in-touch-btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 20 50 20 50;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: linear-gradient(to right, #b37bb9 0%, #2343b1 51%, #b37bb9 100%);
    color: white;
    font-family: 'Varela', sans-serif;
    text-decoration: none;

}

.get-in-touch-btn:hover {
    background-position: right center;
}



.container {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    scroll-snap-align: start;
}

.container-title {
    font-family: 'Varela', sans-serif;
    font-size: 2.2em;
    color: #000;
    text-align: center;
    margin: 50px;
    font-weight: 900;
}

.container .skills {
    margin: auto;
    width: 550px;
    text-align: center;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.skills li {
    display: inline-block;
    color: #fff;
    padding: 16px;
    margin: 10px;
    text-decoration: none;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #b37bb9 0%, #2343b1 51%, #b37bb9 100%);
    align-content: center;
}

.skills li:hover {
    transition: 2s;
    background-position: right center;
    box-shadow: -1px -1px 10px 4px rgba(0, 0, 0, 1) inset,
        /* dark shadow      */
        2px -2px 3px 0px rgba(255, 255, 255, 0.2),
        /* white - top      */
        2px 2px 3px 0px rgba(255, 255, 255, 0.2);
}

.full-width {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    line-height: 300px;
    margin: 0;
    height: 300px;
    background-image: url(images/art_bg2.jpg);
    background-blend-mode: overlay;
    background-position: bottom;
    background-size: cover;
    color: white;
}

.header {
    scroll-snap-align: start;
}

.line-outer {
    width: 2px;
    height: 200px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.line-inner {
    position: absolute;
    width: 100%;
    height: 40px;
    background: grey;
    box-shadow: 0px 0px 30px 20px grey;
}


@media only screen and (max-device-width: 1024px) {

    .container1,
    .container2,
    .container3,
    .container4 {
        background-attachment: scroll;
    }
}

hr.soften {
    height: 2px;
    width: 500px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
    border: 0;
}

hr.soften.white {
    height: 2px;
    width: 500px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    border: 0;
}

.circle-container {
    height: 300px;
    display: table;
    margin: auto;
}

.circle {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #fff;
    width: 180px;
    text-align: center;
    margin: 10px 20px;
}

.circle:hover::after {
    -webkit-animation: pulse 1s infinite;
}

.circle:before {
    -webkit-animation: pulse 1s infinite;
}

.circle:after {
    display: inline-block;
    padding-bottom: 100%;
    width: 180px;
    height: 0;
    margin: auto;
    border-radius: 50%;
    background-image: radial-gradient(circle farthest-corner at 84.6% 77.8%, rgb(111, 114, 226) 0%, rgb(22, 7, 62) 90%);
    content: "";
    color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;

}

.circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

@media (min-width: 480px) {
    .circle__content {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) {
    .circle__content {
        font-size: 1.5em;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.8);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.8);
        box-shadow: 0 0 0 0 rgba(164, 95, 232, 0.8);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 1);
        box-shadow: 0 0 0 15px rgba(164, 95, 232, 0.5);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 1);
        box-shadow: 0 0 0 5px rgba(164, 95, 232, 0.1);
    }
}

.container .content {
    position: relative;
    font-family: 'Muli', sans-serif;
    width: 700px;
    line-height: 25px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.get-in-touch-2 {
    position: relative;
    text-align: center;
    margin: 50px auto;
}

.get-in-touch-2-btn {
    margin: 10px auto;
    padding: 20 50 20 50;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: linear-gradient(to right, #b37bb9 0%, #2343b1 51%, #b37bb9 100%);
    color: white;
    font-family: 'Varela', sans-serif;
    text-decoration: none;
}

.get-in-touch-2-btn:hover {
    background-position: right center;
}


.items-container {
    height: 900px;
    width: 700px;
    position: relative;
    line-height: 25px;
    text-align: center;
    margin: auto;
}


.item {
    background-color: #e6e2dc;
    border-radius: 10px;
    margin: 30px 0;
}

.no-bg {

    background-color: #fff;
}

.more-width {
    width: 1000px;
}

.item .rounded img {
    border-radius: 30px;
    max-width: 500px;
    max-height: 300px;
    border: none;
}

.item-img {
    padding: 30px;
    vertical-align: middle;
    display: inline-block;
}

.item-des {
    vertical-align: middle;
    padding-left: 50px;
    display: inline-block;
    margin: 0 auto;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    width: 250px;
}

.des-width {
    width: 350px;
}

.item-des .desc-title {
    font-weight: bolder;
    font-size: 1.8em;
    line-height: 30px;
}

.item-img img {
    max-width: 250px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 5px solid white;
    box-shadow: 0 8px 6px -6px black;
}

.footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.footer-menu li,
.footer-menu a {
    display: inline-block;
    color: #fff;
    padding: 16px;
    margin: auto;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.footer-menu a:hover {
    color: #3c81c7;
}

.m-3 {
    margin: 1rem !important
}

.social_media {
    display: table;
    align-self: center;
    margin: auto;
}

.social_media a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    margin: auto;
    text-align: center;
    align-content: center;
    display: inline-block;
}

.social_media a:hover {
    color: #3c81c7;
}
